@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gabriela-regular {
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --breakpoint-md: 800px;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.animate-bouncy {
  animation: bounce-custom 2s ease-in-out infinite;
}

@keyframes custom-opacity {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.fade1 {
  animation: custom-opacity 10s ease-in-out infinite;
  animation-delay: 0.5s;
}

.fade2 {
  animation: custom-opacity 10s ease-in-out infinite;
  animation-delay: 1s;
}

.fade3 {
  animation: custom-opacity 10s ease-in-out infinite;
  animation-delay: 1.5s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



@keyframes waveColor {
  0%,100% {
    transform: translateY(-10px);
    filter:grayscale(0);
    /* background-color: white;
    color: black; */
  }
  20%, 80% {
    transform: translateY(0px);
    filter:grayscale(100);
    /* background-color: transparent;
    color: white */
  }
}
