@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gabriela-regular {
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
--breakpoint-md: 800px;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.animate-bouncy {
  animation: bounce-custom 2s ease-in-out infinite;
}

@keyframes custom-opacity {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.fade1 {
  animation: custom-opacity 10s ease-out infinite;
  animation-delay: 0.5s;
}

.fade2 {
  animation: custom-opacity 10s ease-out infinite;
  animation-delay: 1.5s;
}

.fade3 {
  animation: custom-opacity 10s ease-out infinite;
  animation-delay: 2.5s;
}
